body {
    background-image: url("Libro.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0%;
  } 

h1 {
    color:black;
    background:#f8efc6;
    border-radius:20px;
    font-family: "Consolas";
    border-width:2px;
    border-color:black;
    border-style: solid;
    font-size:x-large;
    height: 30px ;
    text-align: center;
}  

footer {
    color:black;
    font-size: large;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
    background: #f4ecc8d8;
    opacity: 0.7;
} 
 
.analyzer {
    color:black;
    background:#C4AB71;
    list-style: none;
    font-family: "Courier New";
    border: solid black;
    border-style: solid;
    border-radius: 20px;
    border-width:1px;
    width: 33%;
    padding: 6px 0%;
    text-align: center;
    display:inline-block;
    margin:10px 100px;
}  
 
textarea[name="user-input"] {
    color:black;
    border:solid black;
    text-align: center;
    background: white;
    margin-left: 32%;
} 

#reset-button {
    background: #a6a16a;
    color:black;
    cursor: pointer;
    text-align: center;
    margin-left: 48%;
} 